// async select
.rs-picker {
  border: 1px solid var(--rs-border-primary);
  outline: none !important;
  box-shadow: none !important;
  &.rs-picker-focused {
    border: 1px solid rgb(var(--primary-color-500));
  }
  &:not(.rs-picker-disabled):hover {
    border: 1px solid var(--rs-border-primary);
  }
}
.rs-picker-default .rs-picker-toggle.rs-btn {
  outline: none;
  box-shadow: none;
  cursor: pointer;
  .rs-picker-toggle-value {
    color: rgb(var(--primary-color-500)) !important;
  }
}
.rs-picker-select-menu-item:hover {
  background-color: rgb(var(--primary-color-500) / 0.1);
  color: rgb(var(--primary-color-500));
  transition: all ease-in 0.2s;
}

// input
.rs-input-group {
  border: none;
  width: 100%;
  &:focus-within,
  .rs-input-group:not(.rs-input-group-disabled).rs-input-group-focus {
    outline: none !important;
  }
}
.rs-toggle-checked .rs-toggle-presentation,.rs-toggle-checked .rs-toggle-presentation:hover{
  background: rgb(var(--primary-color-500));
}
.rs-radio-wrapper {
  top: 50%;
  transform: translateY(-50%);
}
.rs-radio-checker {
  width: 100%;
}
.rs-radio label {
  display: flex;
  gap: 1rem;
  align-items: end;
}
.rs-radio.rs-radio-checked .rs-radio-inner:before {
  background: rgb(var(--primary-color-500));
  border-color: rgb(var(--primary-color-500));
}

// modal
.rs-modal-wrapper {
  backdrop-filter: blur(4px);
  background: rgba(122, 125, 144, 0.161);

  .rs-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    margin: 0;
    border-radius: 6px;
    .rs-modal-dialog {
      .rs-modal-content {
        padding: 36px 65px;
        box-shadow: 0px 5px 20px 0px #4b465c66;
      }
    }
  }
}
.rs-modal-sm {
  max-width: 90%;
}
.rs-modal-header {
  .rs-modal-title {
    line-height: 2;
  }
  .rs-modal-header-close {
    // font-size: 10px;
    position: absolute;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 6px;
    box-shadow: 0px 2px 4px 0px #a5a3ae4d;
    background-color: white;
    top: 0;
    right: 0;
    transform: translate(20%, -40%);
    &:hover {
      box-shadow: 0px 4px 10px 1px #a5a3ae4d;
    }
  }
}

// dropdown
.rs-btn {
  &:hover {
    color: rgb(var(--primary-color-500));
    background: transparent;
  }
}
.rs-dropdown-menu {
  width: 100%;
  padding: 0;
  & .rs-dropdown-item {
    padding: 0;
  }
}
.rs-dropdown-toggle,
.rs-dropdown-toggle.rs-btn {
  padding-top: 12px !important;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  .rs-dropdown-toggle-caret {
    top: 12px;
  }
}

// calender
.rs-calendar{
  direction: ltr;
}