@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  html {
    @apply text-body;
  }
  input,
  select {
    @apply border-[#DBDADE];
  }
}

@layer components {
  .card-page {
    @apply rounded-md bg-white p-6 shadow-md;
  }
}
